#header{
    width: 100%;
    height: 100px;
    text-align: center;
    /* padding: 30px; */
    background-color: #e2e4cf;
    color: white;
}
#navbar{
    width: 100%;
    /* padding: 20px; */
    background-color: lightblue;
    color: white;
}
#bodydesign{
    width: 100%;
    height: 500px;
}
.bodysection{
    width: 80%;
    height: 500px;
    float: left;
    background-color: tomato;
}
#right-sidebar{
    width: 20%;
    height: 500px;
    float: left;
    background-color: #dddddd;
}
footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    /* margin-top: 600px; */
}