.custom-card-size{
    width: 500px;
}
.img-background-item{
    width: 299px;
    height: 299px;
}
.custom-image-kumar{
    width: 300px;
    height: 300px;
}
.a-class{
    text-decoration: none;
    color: #e4e3e3;
}
.a-class:hover{
    text-decoration: underline;
    color: #000;
} 